<SeeSharpShip.Tests.Properties.Settings>
  <setting name="UspsUserId" serializeAs="String">
    <value>[REPLACE WITH USPS USERID]</value>
  </setting>
  <setting name="UspsPassword" serializeAs="String">
    <value>[REPLACE WITH USPS PASSWORD]</value>
  </setting>
  <setting name="UspsSourceZip" serializeAs="String">
    <value>[REPLACE WITH SOURCE ZIP CODE]</value>
  </setting>
  <setting name="UspsApiUrl" serializeAs="String">
    <value>http://stg-production.shippingapis.com/ShippingApi.dll</value>
    <!--<value>http://production.shippingapis.com/ShippingAPI.dll</value>-->
  </setting>
</SeeSharpShip.Tests.Properties.Settings>