<SeeSharpShip.Tests.Properties.Settings>
    <setting name="UspsUserId" serializeAs="String">
        <value>734SUMER4798</value>
    </setting>
    <setting name="UspsPassword" serializeAs="String">
        <value>752LD08WZ800</value>
    </setting>
    <setting name="UspsSourceZip" serializeAs="String">
        <value>18631</value>
    </setting>
    <setting name="UspsApiUrl" serializeAs="String">
        <value>http://production.shippingapis.com/ShippingAPI.dll</value>
        <!--<value>http://stg-production.shippingapis.com/ShippingAPI.dll</value>-->
    </setting>
</SeeSharpShip.Tests.Properties.Settings>