<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="RateServiceSoapBinding">
                    <security mode="Transport"/>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://wsbeta.fedex.com:443/web-services/rate" binding="basicHttpBinding" bindingConfiguration="RateServiceSoapBinding" contract="RatePortType" name="RateServicePort"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
